.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}
.container {
  margin-left: 100px;
  width: 100%;
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
}
.appbar {
  height: 50px;
  width: 100%;
  color: #fff;
  display: flex;
  justify-content: space-around;
  align-items: center;
  display: flex !important;
}
.appbar > .menu a {
  color: #fff;
  text-decoration: none;
  margin-right: 50px;
  transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.appbar > .menu a:hover {
  opacity: 0.7;
}
.appbar h1 {
  color: #e50914;
}
.appbar > .search > .searchInput input {
  color: #fff;
  margin: 0px 10px 0px 10px;
}

.appbar > .search > .searchInput svg {
  color: #fff;
  margin-right: 10px;
}

.appbar > .imgProfile a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-decoration: none;
  color: #fff;
  overflow: hidden;
}
.appbar > .imgProfile img {
  height: 35px;
  width: 35px;
  margin-right: 10px;
  border-radius: 10px;
}
.appbar > .imgProfile {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.appbar > .imgProfile button {
  color: #fff !important;
  margin-left: 50px;
  height: 35px;
}
.appbar > .menuMobile {
  display: none;
}
.appbar > .iconMobile {
  display: none;
}
@media (max-width: 1150px) {
  .container {
    margin-left: 0px;
    height: 100%;
  }
  .appbar > .iconMobile {
    display: flex;
  }
  .appbar {
    position: relative;
  }
  .appbar > .menu {
    display: none;
  }
  .appbar > .imgProfile {
    display: none;
  }
  .appbar > .search {
    display: none;
  }
  .appbar > .menuMobile {
    display: flex;
    flex-direction: column;
    background-color: #141414b7;
    position: absolute;
    z-index: 99;
    top: 80px;
    width: 100%;
    height: 210px;
    text-align: center;
  }
  .appbar > .menuMobile a {
    padding: 5px;
    margin: 5px;
    color: #fff;
    text-decoration: none;
  }
}
